pp-footer {

    color: #22263E;
    background-color: #E5E8EE;
    padding-top: 20px;
    display: block;
    flex-shrink: 0;

    h3 {
        font-size: 14px;
        margin: 0 0 5px 0;
    }

    .pp-footer__cookie-link {
        padding: 20px 0;
    }

    .container {
        margin-top: 70px;
    }

}
