<div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4" ng-repeat="i in [1,2,3]">
        <h3><span message key="label.footer.col.{{i}}.header"></span></h3>
        <p>
          <span message key="label.footer.col.{{i}}.row.1"></span><br>
          <span message key="label.footer.col.{{i}}.row.2"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="pp-footer__cookie-link"><span message key="label.footer.cookies"></span></p>
      </div>
    </div>
  </div>
</div>
