/*[pp-tooltip] {
    position: relative;
}*/

.popover.top {
    color: white;
    background-color: black;
}

.popover.top > .arrow:after {
    border-top-color: #000;
}

.popover {
    max-width: 276px;
}