<form name="registerForm" ng-submit="submitForm()" novalidate>

  <p>
    Ange information om dig själv och din verksamhet.
  </p>

  <div class="box" id="step1">

    <div pp-field="personnummer">
      {{user.personnummer}}
    </div>

    <div pp-field="name">
      {{user.name}}
    </div>

    <div pp-field="befattning">
      <select required id="befattning" name="befattning" class="form-control" ng-model="registerModel.befattning"
              ng-options="s.label for s in viewState.befattningList track by s.id">
        <option value="">Välj befattning</option>
      </select>
    </div>

    <div pp-field="verksamhetensnamn">
      <input required type="text" id="verksamhetensnamn" name="verksamhetensnamn" ng-model="registerModel.verksamhetensNamn"
             class='form-control' value="" style='max-width: 20em'>
    </div>

    <div pp-field="agarform">
      {{registerModel.agandeForm}}
    </div>

    <div pp-field="vardform">
        <select id="vardform" class="form-control" ng-model="registerModel.vardform"
                ng-options="s.label for s in viewState.vardformList track by s.id"></select>
    </div>

    <div pp-field="verksamhetstyp">
        <select required id="verksamhetstyp" name="verksamhetstyp" class="form-control" ng-model="registerModel.verksamhetstyp"
                ng-options="s.label for s in viewState.verksamhetstypList track by s.id">
          <option value="">Välj verksamhetstyp</option>
        </select>
    </div>

    <div pp-field="arbetsplatskod">
      <input type="text" id="arbetsplatskod" name="arbetsplatskod" ng-model="registerModel.arbetsplatskod"
             class='form-control' value="">
    </div>

  </div>

  <div class="buttonbar">
    <button id="continueBtn" type="submit" class="btn btn-success">Fortsätt</button>
    <button id="abortBtn" class="btn btn-secondary" ui-sref=".abort">Avbryt</button>
  </div>

</form>
