<h1>Övriga komponenter i portalen</h1>

<h3>Fishbone / Wizard</h3>
<div class="wizard">
  <ul class="steps">
    <li ui-sref-active="active" ui-sref=".step1" class="wstep-completed">Steg 1<span
        class="chevron"></span></a></li>
    <li ui-sref-active="active" ui-sref=".step2" class="wstep-completed">Steg 2<span
        class="chevron"></span></a></li>
    <li ui-sref-active="active" ui-sref=".step3">Steg 3</li>
  </ul>
</div>

<h3>alertmessage</h3>
<div alert-message alert-show="show" alert-message-id="label.text" alert-severity="danger"></div>
<div alert-message alert-show="text" alert-severity="info" class="top-pad"></div>

<h3>alertsingle</h3>
<div alert-single alert-model="showSingle" alert-message-id="label.text"></div>

<h3>modal</h3>
<button class="btn btn-primary" ng-click="openModal()">Open modal</button>

<h3>ppCookieBanner</h3>
<a ng-click="doShowCookieBanner()">Klicka här för att toggla fram cookiebannern</a>
<div ng-if="showCookieBanner">
  <pp-cookie-banner></pp-cookie-banner>
</div>

<h3>ppSpinner</h3>
<div style="overflow-y:hidden;" pp-spinner label="label.loading" show-spinner="loading"></div>

<h3>ppTooltip</h3>
<span pp-tooltip field-help-text="label.help"></span></span>

<h3>postnummerRegionLookup</h3>
(För träffar, testa tex 13155 el 13150)
<form name="registerForm" ng-submit="submitForm()" novalidate>
  <div postnummer-region-lookup register-form="registerForm" register-model="registerModel"></div>
</form>