<form name="registerForm" ng-submit="submitForm()" novalidate>

  <p>
    Ange verksamhetens kontaktuppgifter. </p>

  <div class="box" id="step2">

    <div pp-field="telefonnummer">
      <input type="text" id="telefonnummer" name="telefonnummer" ng-model="registerModel.telefonnummer"
             class='form-control' value="" required popover-placement="right" popover-trigger="focus"
             popover="Telefonnummer fylls i med siffror 0-9, tillåtna tecken är +, - och mellanslag.">
    </div>

    <div pp-field="epost">
      <input type="email" id="epost" name="epost" ng-model="registerModel.epost" class='form-control'
             style='max-width: 20em' value="" required popover-placement="right" popover-trigger="focus"
             ng-paste="preventPaste($event, 'Epost')"
             popover="Din e-postadress är viktig! Ange den e-postadress du vill bli kontaktad på om mottagaren av intyget behöver nå dig för kompletterande frågor.">
      <!--<div class="top-pad-1">
        <div alert type="info" ng-if="viewState.pasteErrorEpost" role="alert" close="viewState.pasteErrorEpost = false">
          <span message key="label.form.error.pastenotallowed"></span>
        </div>
      </div>-->
      <div alert-single alert-model="viewState.pasteErrorEpost" alert-message-id="label.form.error.pastenotallowed"></div>

    </div>

    <div pp-field="epost2">
      <input type="email" id="epost2" name="epost2" ng-model="registerModel.epost2" class='form-control'
             style='max-width: 20em' value="" required validate-confirm-email="epost" ng-paste="preventPaste($event, 'Epost2')">
      <!--<div class="top-pad-1">
        <div alert type="info" ng-if="viewState.pasteErrorEpost2" role="alert" close="viewState.pasteErrorEpost2 = false">
          <span message key="label.form.error.pastenotallowed"></span>
        </div>
      </div>-->

      <div alert-single alert-model="viewState.pasteErrorEpost2" alert-message-id="label.form.error.pastenotallowed"></div>
    </div>

    <div pp-field="adress">
      <input type="text" id="adress" name="adress" ng-model="registerModel.adress" class='form-control'
             style='max-width: 30em' value="" required>
    </div>

    <div pp-field="postnummer">
      <input type="text" id="postnummer" name="postnummer" ng-model="registerModel.postnummer" class='form-control'
             style='max-width: 6em' value="" required ng-maxlength="6" maxlength="6" popover-placement="right"
             popover-trigger="focus"
             popover="Ange postadressens postnummer i fem siffor 0-9, med eller utan mellanslag.">
    </div>

    <div pp-field="postort">
      {{registerModel.postort}}
    </div>

    <div pp-field="kommun">
      {{registerModel.kommun}}
      <select ng-if="false" required id="kommun" name="kommun" class="form-control" ng-model="registerModel.kommun"
              ng-options="s.label for s in viewState.kommunList track by s.id"
              popover-placement="right"
              popover-trigger="focus"
              popover="Kommun där verksamheten finns."></select>
    </div>

    <div pp-field="lan">
      {{registerModel.lan}}
    </div>

  </div>

  <div class="buttonbar">
    <button id="continueBtn" type="submit" class="btn btn-success">Fortsätt</button>
    <button id="backBtn" class="btn btn-info" ui-sref="app.register.step1">Tillbaka</button>
    <button id="abortBtn" class="btn btn-secondary" ui-sref=".abort">Avbryt</button>
  </div>
</form>
