<form name="registerForm" ng-submit="submitForm()" novalidate>
  <div class="box" id="step2">

    <p>
      Ange verksamhetens kontaktuppgifter.
    </p>

    <div pp-field="telefonnummer">
      <input type="text" id="telefonnummer" name="telefonnummer" ng-model="registerModel.telefonnummer"
             class='form-control' value="" required>
    </div>

    <div pp-field="epost">
      <input type="email" id="epost" name="epost" ng-model="registerModel.epost" class='form-control'
             style='max-width: 20em' value="" required>
    </div>

    <div pp-field="epost2">
      <input type="email" id="epost2" name="epost2" ng-model="registerModel.epost2" class='form-control'
             style='max-width: 20em' value="" required>
    </div>

    <div pp-field="adress">
      <input type="text" id="adress" name="adress" ng-model="registerModel.adress" class='form-control'
             style='max-width: 30em' value="" required>
    </div>

    <div pp-field="postnummer">
      <input type="text" id="postnummer" name="postnummer" ng-model="registerModel.postnummer" class='form-control'
             style='max-width: 6em' value="" required ng-maxlength="6" maxlength="6">
    </div>

    <div pp-field="postort">
      {{registerModel.postort}}
    </div>

    <div pp-field="kommun">
      {{registerModel.kommun}}
      <select ng-if="false" required id="kommun" name="kommun" class="form-control" ng-model="registerModel.kommun"
              ng-options="s.label for s in viewState.kommunList track by s.id"></select>
    </div>

    <div pp-field="lan">
      {{registerModel.lan}}
    </div>

  </div>

  <div class="buttonbar">
    <button id="continueBtn" type="submit" class="btn btn-success">Fortsätt</button>
    <button id="backBtn" class="btn btn-info" ui-sref="app.register.step1">Tillbaka</button>
    <button id="abortBtn" class="btn btn-secondary" ui-sref=".abort">Avbryt</button>
  </div>
</form>
