PRIVATLAKARPORTAL_CFG="-Dprivatlakarportal.config.folder={{ config_etc_folder }} -Dprivatlakarportal.config.file={{ config_etc_folder }}/privatlakarportal.properties -Dprivatlakarportal.logback.file={{ config_etc_folder }}/privatlakarportal-logback.xml"
PRIVATLAKARPORTAL_RESOURCES="-Dprivatlakarportal.resources.folder={{ app_resources_folder }}"
export JAVA_OPTS="$JAVA_OPTS $PRIVATLAKARPORTAL_CFG $PRIVATLAKARPORTAL_RESOURCES"
