<div id="step3">

  <div class="row">
    <div class="col-md-7">
      <p>Kontrollera att sammanfattningen av din information stämmer innan du går vidare. Du kan justera de uppgifter
        som du själv har angett.
        Information hämtad från din e-legitimation och från Socialstyrelsens register går inte att redigera.</p>

      <h2 class="col-head">Dina och verksamhetens uppgifter</h2>
      <div class="box">
        <table>
          
          <tbody>
          <tr ng-repeat="item in uppgifter">
            <td class="table-label-col">{{item.name}}</td>
            <td id="{{item.id}}" ng-class="{'locked' : item.locked}">{{item.value}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h2 class="col-head">Verksamhetens kontaktuppgifter</h2>
      <div class="box">
        <table>
          <tbody>
          <tr ng-repeat="item in kontaktUppgifter">
            <td class="table-label-col">{{item.name}}</td>
            <td id="{{item.id}}" ng-class="{'locked' : item.locked}">{{item.value}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h2 class="col-head">Socialstyrelsens uppgifter</h2>
      <div class="box">
          <div form-social-uppgifter autoload="true"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div class="form-group checkbox">
        <label class="top-pad">
          <input type="checkbox" id="godkannvillkor" name="godkannvillkor" ng-model="viewState.godkannvillkor"> Jag
          medger <a ui-sref=".terms({termsData:terms})">behandling av mina och verksamhetens uppgifter</a>.
        </label>
      </div>
    </div>
  </div>

  <div alert-message alert-model="viewState.errorMessage.register" alert-severity="danger"></div>

  <div class="buttonbar">
    <button id="registerBtn" class="btn btn-success" ng-click="createAccount()"
            ng-disabled="!viewState.godkannvillkor">
      <img ng-show="viewState.loading.register" ng-src="/assets/images/ajax-loader-small-green.gif"/> Skapa konto
    </button>
    <button id="backBtn" class="btn btn-info" ui-sref="app.register.step2">Tillbaka</button>
    <button id="abortBtn" class="btn btn-secondary" ui-sref=".abort">Avbryt</button>
  </div>
</div>