<div id="step3">

  <div class="row">
    <div class="col-md-7">
      <p>Kontrollera att sammanfattningen av din information stämmer innan du går vidare. Du kan justera de uppgifter
        som du själv har angett.
        Information hämtad från din e-legitimation och från Socialstyrelsens register går inte att redigera.</p>

      <h2 class="col-head">Dina och verksamhetens uppgifter</h2>
      <div class="box">
        <table>
          <tbody>
          <tr ng-repeat="item in uppgifter">
            <td class="table-label-col">{{item.name}}</td>
            <td id="{{item.id}}" ng-class="{'locked' : item.locked}">{{item.value}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h2 class="col-head">Verksamhetens kontaktuppgifter</h2>
      <div class="box">
        <table>
          <tbody>
          <tr ng-repeat="item in kontaktUppgifter">
            <td class="table-label-col">{{item.name}}</td>
            <td id="{{item.id}}" ng-class="{'locked' : item.locked}">{{item.value}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h2 class="col-head">Socialstyrelsens uppgifter</h2>
      <div class="box">
        <div form-social-uppgifter></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <p class="top-pad">
        Privatläkare som vill använda tjänsten måste godkänna Webcerts <a ui-sref=".terms">Användarvillkor</a> för
        Webcert, vilket bland
        annat innebär att:</p>
      <ul>
        <li>
          Godkänna att Inera i rollen personuppgiftsbiträde får behandla personuppgifter för din räkning.
        </li>
        <li>
          Samtycka till att dina personuppgifter behandlas i Webcert av Inera.
        </li>
      </ul>
      <div class="form-group checkbox">
        <label class="font-bold">
          <input type="checkbox" id="godkannvillkor" name="godkannvillkor" ng-model="model.godkannvillkor"> Jag
          godkänner
          <a ui-sref=".terms">Användarvillkor</a> för Webcert och samtycker till att mina personuppgifter får behandlas
          i Webcert.
        </label>
      </div>
    </div>
  </div>

  <div ng-show="viewState.registerErrorMessage != null">
    <div class="alert alert-danger">
      {{viewState.registerErrorMessage}}
    </div>
  </div>

  <div class="buttonbar">
    <button id="registerBtn" class="btn btn-success" ng-click="createAccount()"
            ng-disabled="!model.godkannvillkor">Skapa konto
    </button>
    <button id="backBtn" class="btn btn-info" ui-sref="app.register.step2">Tillbaka</button>
    <button id="abortBtn" class="btn btn-secondary" ui-sref=".abort">Avbryt</button>
  </div>
</div>